extends ../templates/_template.pug

block ui
	
	canvas#canvas.d-none( width='350' height='550' )

	.container
		.row 
			.col.py-5
				h1 charGen

		.row.g-1.mb-5.pb-4.border-bottom
			.col-auto
				button.btn.btn-link.btn-sm( onclick="randomChar()" )
					i.fas.fa-dice

			.col-auto
				button.btn.btn-link.btn-sm( onclick="permute()" )
					i.fas.fa-infinity

		.row
			mixin featureSelector(category)
				.row
					p.mb-0= category
				.row.align-items-center.mb-4
					.col-auto
						button.btn.btn-link.btn-sm.border-0.d-flex.align-items-center( onclick='selectFeaturePresets(\"' + category + '\", \"decrease\")')
							p.fs-5.mb-0 <
					.col
						p.mb-0.text-capitalize.text-primary( id=category + 'Value' )
					.col-auto
						button.btn.btn-link.btn-sm.border-0.d-flex.align-items-center( onclick='selectFeaturePresets(\"' + category + '\", \"increase\")')
							p.fs-5.mb-0 >
			.col-3
				//- Gender Toggle
				.btn-group.w-100.mb-4( role='group' aria-label='Basic radio toggle button group' )
					input.btn-check( type='radio' name='genderRadio' id='genderRadio1' autocomplete="off" )
					label.btn.btn-primary.d-flex.align-items-center.p-3( onclick='selectGender("male")' for='genderRadio1')
						i.fas.fa-mars.w-100
					
					input.btn-check( type='radio' name='genderRadio' id='genderRadio2' autocomplete="off" )
					label.btn.btn-primary.d-flex.align-items-center.p-3( onclick='selectGender("female")' for='genderRadio2' )
						i.fas.fa-venus.w-100

				//- Select Race
				.row
					p.mb-0 Race

				.mb-4
					.row.align-items-center
						.col-auto
							button.btn.btn-link.btn-sm.border-0.d-flex.align-items-center( onclick='selectRacePrimary("decrease")' )
								p.fs-5.text-primary.mb-0 <
						.col
							#selectedRacePrimary.text-capitalize.text-primary
						.col-auto
							button.btn.btn-link.btn-sm.border-0(.d-flex.align-items-center onclick='selectRacePrimary("increase")' )
								p.fs-5.text-primary.mb-0 >

					#selectedRaceDom.row.align-items-center.mb-4
						.col-auto
							button.btn.btn-link.btn-sm.border-0.d-flex.align-items-center( onclick='selectRace("decrease")' )
								p.fs-5.text-primary.mb-0 <
						.col
							#selectedRace.text-capitalize.text-primary
						.col-auto
							button.btn.btn-link.btn-sm.border-0(.d-flex.align-items-center onclick='selectRace("increase")' )
								p.fs-5.text-primary.mb-0 >

				.row.align-items-center.mb-4
					p#selectedRacePrimaryLore.small.text-gray-600.mb-0
				
				.row.align-items-center.mb-4
					p#selectedRaceLore.small.text-gray-600.mb-0
					
			.col
				//- Container for the printed png images.
				#drawAmount
				#charGen.row.justify-content-center
			
			.col-3
				+featureSelector('skin')
				+featureSelector('hair')
				+featureSelector('beard')

				p.mb-0 Hair Color
				#hairColorSwatches.row.g-0.btn-group.mb-4( role='group' aria-label='Basic radio toggle button group' )

				+featureSelector('adornment')
				+featureSelector('tattoo')

				p.mb-0 Tattoo Color
				#tattooColorSwatches.row.g-0.btn-group(.mb-4 role='group' aria-label='Basic radio toggle button group' )