extends ../templates/_template.pug

block ui
	
	canvas#canvas.d-none( width='350' height='550' )

	.container
		.row 
			.col.py-5
				h1 charGen

		.row.g-1.mb-5.pb-4.border-bottom
			.col-auto
				button.btn.btn-outline-primary.btn-sm( onclick="randomChar(humanMale)" ) Random
			.col-auto
				button.btn.btn-outline-primary.btn-sm( onclick="permute()" ) Generate all Combinations

		.row
			.col-3
				mixin featureSelector(category)
					.row.align-items-center.mb-2
						.col-auto
							button.btn.btn-outline-primary.btn-sm( onclick='selectChar(\"' + category + '\", \"decrease\")') <
						.col
							p.mb-0.text-capitalize= category
						.col-auto
							button.btn.btn-outline-primary.btn-sm( onclick='selectChar(\"' + category + '\", \"increase\")') >
				
				.row.g-1.mb-3
					.col-6
						button.btn.btn-primary.btn-sm.w-100( onclick='selectGender(\"male\")' ) Male
					.col-6
						button.btn.btn-primary.btn-sm.w-100( onclick='selectGender(\"female\")' ) Female

				.row.align-items-center.mb-5
					.col-auto
						button.btn.btn-primary.btn-sm( onclick='selectRace("decrease")' ) <
					.col
						#selectedRace.text-capitalize
					.col-auto
						button.btn.btn-primary.btn-sm( onclick='selectRace("increase")' ) >

				+featureSelector('skin')
				+featureSelector('hair')
				+featureSelector('beard')

				#colorSwatches.row.g-0.btn-group( role='group' aria-label='Basic radio toggle button group' ).mb-4
					
				+featureSelector('adornment')
				+featureSelector('tattoo')
				
			//- Container for the printed png images.
			.col
				#drawAmount
				#charGen.row