extends ../templates/_template.pug

block ui

	//- Canvas that generates images.
	canvas#canvas.d-none( width='350' height='550' )

	.container
		.row 
			.col.py-5
				h1 NFT charGen
				#drawAmount

		//- Container for the printed png images.
		#charGen.row